@import "tailwindcss";

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes slide-in-out-right {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  15% {
    transform: translateX(0);
    opacity: 1;
  }
  85% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}

.my-progress {
  height: 14px;
  border-radius: 999px;
  overflow: hidden;
  appearance: none;
}

/* fond */
.my-progress::-webkit-progress-bar {
  background-color: #111827; /* gris très foncé sur fond noir */
  border-radius: 999px;
}

/* valeur remplie */
.my-progress::-webkit-progress-value {
  background-color: #ffffff;
}

/* Firefox */
.my-progress::-moz-progress-bar {
  background-color: #ffffff;
}
